.var-container {
  position: relative;
  width: 100%;
  height: 100dvh;
  background: #f5f5f5;
  overflow: hidden;
}

.var-container .var-slide .var-item {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 200px;
  height: 300px;
  background-position: 50% 50%;
  background-size: cover;
  display: inline-block;
  transition: 0.5s;
  overflow: hidden;
}

.var-slide .var-item:nth-child(1),
.var-slide .var-item:nth-child(2) {
  top: 0;
  left: 0;
  transform: translate(0, 0);
  width: 100% !important;
  height: 100% !important;
}

.var-slide .var-item:nth-child(3) {
  left: 50%;
  border-radius: 20px;
  box-shadow: 0 30px 50px #505050;
}

.var-slide .var-item:nth-child(4) {
  left: calc(50% + 220px);
  border-radius: 20px;
  box-shadow: 0 30px 50px #505050;
}

.var-slide .var-item:nth-child(5) {
  left: calc(50% + 440px);
  border-radius: 20px;
  box-shadow: 0 30px 50px #505050;
}

.var-slide .var-item:nth-child(n + 6) {
  left: calc(50% + 660px);
  border-radius: 20px;
  box-shadow: 0 30px 50px #505050;
}

.var-item .var-content {
  position: absolute;
  top: 50%;
  left: 50px;
  width: 300px;
  text-align: left;
  color: #fff;
  transform: translate(0, -50%);
  display: none;
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 20px;
}

.var-slide .var-item:nth-child(2) .var-content {
  display: block;
}

.var-content .var-name {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
  opacity: 0;
  animation: animate 1s ease-in-out 1 forwards;
}

.var-content .var-desc {
  margin-top: 10px;
  margin-bottom: 20px;
  opacity: 0;
  animation: animate 1s ease-in-out 0.3s 1 forwards;
}

.var-content button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background-color: #f5f5f5;
  color: #505050;
  opacity: 0;
  transition: 0.3s;
  border: 2px solid #7b5b4a;
  border-radius: 2rem;
  animation: animate 1s ease-in-out 0.6s 1 forwards;
}

.var-content button:hover {
  background-color: #75412b;
  color: #fff;
}

@keyframes animate {
  from {
    opacity: 0;
    transform: translate(0, 100px);
    backdrop-filter: blur(0px);
  }

  to {
    opacity: 1;
    transform: translate(0, 0);
    backdrop-filter: blur(10px);
  }
}

.var-btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.var-btn button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: transparent;
  color: #fff;
  margin: 0 10px;
  transition:
    background-color 0.3s,
    color 0.3s,
    box-shadow 0.3s;
}

.var-btn button:hover {
  cursor: pointer;
  color: #c9663b;
  box-shadow: 0 4px 12px rgba(117, 65, 43, 0.3);
}

@media screen and (min-width: 640px) {
  .var-item .var-content {
    left: 50px;
  }
}

@media screen and (min-width: 1024px) {
  .var-item .var-content {
    left: 200px;
  }
}

@media screen and (min-width: 1280px) {
  .var-item .var-content {
    left: 300px;
  }
}

@media screen and (min-width: 1536px) {
  .var-item .var-content {
    left: 500px;
  }
}

@media screen and (max-width: 640px) {
  .var-slide .var-item:nth-child(4) {
    opacity: 0;
  }

  .var-slide .var-item:nth-child(5) {
    opacity: 0;
  }

  .var-slide .var-item:nth-child(n + 6) {
    opacity: 0;
  }
}
