<div class="flex flex-col space-y-4 w-full bg-white rounded-lg shadow-md p-6 mx-auto my-8">
  <!-- Icon Success -->
  <div class="flex justify-center">
    <svg
      class="w-16 h-16 text-green-500"
      fill="none"
      stroke="currentColor"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M5 13l4 4L19 7"
      ></path>
    </svg>
  </div>

  <!-- Header -->
  <h1 class="text-2xl font-bold text-gray-800 text-center">ลงทะเบียนสำเร็จ!</h1>

  <!-- Description -->
  <p class="text-gray-600 text-center">
    ขอบคุณที่ลงทะเบียนเพื่อเสนอขายคอนโดมิเนียม ทีมงานของเราจะติดต่อคุณเร็ว ๆ นี้เพื่อดำเนินการต่อ
  </p>

  <!-- Button -->
  <div class="flex justify-center">
    <a
      routerLink="/"
      class="border-2 border-yellow-900 text-yellow-900 hover:bg-yellow-900 hover:text-white px-6 py-3 rounded-md transition-colors"
      >หน้าแรก</a
    >
  </div>
</div>
